<p id="notice"><%= notice %></p>
<center>
  <% @movies.each do |movie| %>
    <div class="flex flex-wrap bg-gray-200">
      <%= link_to movie do %>
        <div class="flex-1 m-4 max-w-sm rounded overflow-hidden shadow-lg">
          <%=image_tag("movies.jpg", class: 'w-full') %>
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2"><%= movie.name %></div>
            <p class="text-gray-700 text-base">
              <%= movie.description %>
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</center>
<br>

<%= link_to 'New Movie', new_movie_path %>
